# Exploring Data 

* Reading CSV Files
* Reading Excel Files
* Exporting Data

* Exploring our Data
* Sorting our Data
* Selecting our Data
* Filtering our Data: Single condition, Multiple conditions, filtering shortcuts 

* Deriving new data
* Creating new columns of Data
* Merging Data


### Script Structure

Scripts should be read from top to bottom.

Packages and data should be loaded at the top of the script – this ensures that they’re available to use right from the start of your work.

This also makes your code easier to read. 

Your code should also include explanatory comments, as well as following the naming conventions we talked about.

You may understand your code now, but will you still understand it 6 months down the line – or will your co-worker understand it when you leave?

In [50]:
# Import Pandas into this cell

import pandas as pd

### Setting Working Directories 

The working directory is the place where Python automatically looks for our files.

You can check what your working directory is by using the magic command in Jupyter.

In [ ]:
%pwd

This stands for "Print Working Directory".

Yours will be something like: 

`'C:\\Users\\username\\Intro_to_Python_<DATE>\\notebooks'` 

You can change your working directory by using the command 

`%cd ‘filepath_of_new_directory’`

e.g

`%cd //fa1rvwapxx333/Intro_to_Python/Notebooks`

You may want to change your directory if you are working with large data files; or working on a group project from a shared network drive.  Note shared network drives have two forward slashes at the start.

You do not need to do this for this course.

### Flat Files

Flat files are files like CSV (Comma Separated Values), .txt files etc. 

To import a .csv file we need to give the data an identifier or a variable name.

I’m using one of the read functions from pandas. So I use the `pd` abbreviation before calling my method.

My function starts `.read_`

Pandas has a variety of `.read_` functions. 

Place your cursor in the cell below, after the underscore and hit the tab key to see them all.

In [ ]:
animals = pd.read_

# Put your cursor after the _ in the line above and hit tab

In [31]:
animals = pd.read_csv("data/animals.csv")

After importing data it may be useful to check using it appears as a variable using`%whos`. In Spyder you should see the DataFrame appear in your variable explorer.

In [32]:
%whos

Variable             Type         Data/Info
-------------------------------------------
animal_object_cols   DataFrame           IncidentNumber    <...>n[5752 rows x 14 columns]
animals              DataFrame           IncidentNumber    <...>n[5752 rows x 19 columns]
cat_dog              DataFrame      animal              nam<...>    Cat  Sir Isacc Mewton
cost_over_1k         DataFrame           IncidentNumber    <...>n\n[76 rows x 19 columns]
joining_data1        DataFrame                   name anima<...>    Arf Vader    dog    6
joining_data2        DataFrame                   name  vacc<...>    Spiderpig        True
just_cats            DataFrame      animal              nam<...>    Cat  Sir Isacc Mewton
marvel_left          DataFrame                             <...>uly             622648074
marvel_right         DataFrame                             <...>Home          2019     90
mask                 Series       0       False\n1       Fa<...>Length: 5752, dtype: bool
pd                   module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
titanic              DataFrame          pclass  survived   <...>n[1309 rows x 14 columns]
union_join_data      DataFrame               name    animal<...>   Repecka   chicken    1

In [33]:
animals.head()

,IncidentNumber,DateTimeOfCall,CalYear,FinYear,TypeOfIncident,PumpCount,PumpHoursTotal,HourlyNominalCost(£),IncidentNominalCost(£),FinalDescription,AnimalGroupParent,PropertyType,SpecialServiceTypeCategory,SpecialServiceType,Borough,StnGroundName,AnimalClass,Code,London
0,139091,01/01/2009 03:01,2009,2008/09,Special Service,1.0,2.0,255,510.0,"DOG WITH JAW TRAPPED IN MAGAZINE RACK,B15",Dog,House - single occupancy,Other animal assistance,Animal assistance involving livestock - Other ...,Croydon,Norbury,Mammal,00AH,Outer London
1,275091,01/01/2009 08:51,2009,2008/09,Special Service,1.0,1.0,255,255.0,"ASSIST RSPCA WITH FOX TRAPPED,B15",Fox,Railings,Other animal assistance,Animal assistance involving livestock - Other ...,Croydon,Woodside,Mammal,00AH,Outer London
2,2075091,04/01/2009 10:07,2009,2008/09,Special Service,1.0,1.0,255,255.0,"DOG CAUGHT IN DRAIN,B15",Dog,Pipe or drain,Animal rescue from below ground,Animal rescue from below ground - Domestic pet,Sutton,Wallington,Mammal,00BF,Outer London
3,2872091,05/01/2009 12:27,2009,2008/09,Special Service,1.0,1.0,255,255.0,"HORSE TRAPPED IN LAKE,J17",Horse,"Intensive Farming Sheds (chickens, pigs etc)",Animal rescue from water,Animal rescue from water - Farm animal,Hillingdon,Ruislip,Mammal,00AS,Outer London
4,3553091,06/01/2009 15:23,2009,2008/09,Special Service,1.0,1.0,255,255.0,"RABBIT TRAPPED UNDER SOFA,B15",Rabbit,House - single occupancy,Other animal assistance,Animal assistance involving livestock - Other ...,Havering,Harold Hill,Mammal,00AR,Outer London

We have only specified one argument here; the file path for the data.

When we look at the docstring we can see that there are many other arguments we can specify. This includes:

* Changing the delimiter
* Skipping Rows
* Parsing in date columns
* Manually specifying additional missing values 

Have a look at the docstring for `read_csv()`

In [34]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are ``None`` or 'high' for the ordinary converter,
        'legacy' for the original lower precision pandas converter, and
        'round_trip' for the round-trip converter.

        .. versionchanged:: 1.2

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib`` as header options. For other URLs (e.g.
        starting with "s3://", and "gcs://") the key-value pairs are forwarded to
        ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

        .. versionadded:: 1.2

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

### Excel Files

As mentioned earlier we can also use the `pd.read_` functions to read in excel files.
 
The function is `pd.read_excel()`

In [35]:
titanic = pd.read_excel("data/titanic.xlsx")
titanic.sample()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,body,boat
1262,3,0,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5,NaN,S,NaN,NaN,NaN

### Reading in Other File types

We can also import a wide variety of other file types using the `pd.read_` function.
As you’ll see by pressing tab in the cell below, we can read in a variety of files.
Such as:
*  json
* sas
* sql
* stata
* pickles

<a id='export'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

### Exporting Data

As well as reading in data we can also export data from Python.

When we load data into Python using Pandas we create a temporary copy of it within our session. 

Any changes we make to the data won’t be reflected in the saved file.

To save our files we use the `to_csv()` after our DataFrame object.

In [37]:
titanic.to_csv("my_titanic.csv")

Again, nothing seems to have actioned within Jupyter - the line number has increased so we know the code has run.

If you check the outputs folder in File Explorer you will see the new file there.

### Summary 

In this chapter we’ve explored:

* Reading CSV Files
* Reading Excel Files
* Exporting Data.

### Exercise

Export the `animals` dataset as an excel file - The file extension is `.xlsx`

In [ ]:
# Exercise


Import the data `schools_data.csv` from the data folder with an apropriate variable name.

Look at the bottom of the data using the `.tail()` method. All of our missing data is at the bottom, so you may see lots of `nan` values.

In [ ]:
# Exercise

<a id='export'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Working with dataframes

In [38]:
animals = pd.read_csv("data/animals.csv")
titanic = pd.read_excel("data/titanic.xlsx")
joining_data1 = pd.read_csv("data/joining_data1.csv")
joining_data2 = pd.read_csv("data/joining_data2.csv")
union_join_data = pd.read_csv("data/union_data.csv")
marvel_left = pd.read_csv("data/joining_exercise1.csv")
marvel_right = pd.read_csv("data/joining_exercise2.csv")

In [39]:
%whos

Variable             Type         Data/Info
-------------------------------------------
animal_object_cols   DataFrame           IncidentNumber    <...>n[5752 rows x 14 columns]
animals              DataFrame           IncidentNumber    <...>n[5752 rows x 19 columns]
cat_dog              DataFrame      animal              nam<...>    Cat  Sir Isacc Mewton
cost_over_1k         DataFrame           IncidentNumber    <...>n\n[76 rows x 19 columns]
joining_data1        DataFrame                   name anima<...>    Arf Vader    dog    6
joining_data2        DataFrame                   name  vacc<...>    Spiderpig        True
just_cats            DataFrame      animal              nam<...>    Cat  Sir Isacc Mewton
marvel_left          DataFrame                             <...>uly             622648074
marvel_right         DataFrame                             <...>Home          2019     90
mask                 Series       0       False\n1       Fa<...>Length: 5752, dtype: bool
pd                   module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
titanic              DataFrame          pclass  survived   <...>n[1309 rows x 14 columns]
union_join_data      DataFrame               name    animal<...>   Repecka   chicken    1

Before you start working with a dataset it can be important to examine it. For example:

* Do the values look how you would expect?
* Does the data have the right number of rows and columns? 
* Do the columns have your expected data types?
* Is your data [clean?](https://en.wikipedia.org/wiki/Data_cleansing)

In the last section we looked at three methods of quickly inspecting our dataframes.

* `.head()`  - Top 5 rows
* `.tail()`  - Bottom 5 Rows
* `.sample()` - 1 Randomly sampled row.

We can also use `.info()` this gives us information about:

* The class of the object – a `pandas` DataFrame
* The range (or length of our index) – our number of rows
* How many columns we have
* The column names
* The number of non-null entries (a.k.a without missing values)
* The data type of the column
* The number of columns of each data type.

We’ll look at data types in more detail later.

In [40]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  home.dest  745 non-null    object
 12  body       121 non-null    float64
 13  boat       486 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

`.shape` provides us with the dimensions of the object.

In [41]:
animals.shape

(5752, 19)

We can use our indexing brackets to return an item in this tuple – for example the number rows at index 0.

In [42]:
animals.shape[0]

5752

And the number of columns at index 1.

In [43]:
animals.shape[1]

19

We can also use the inbuilt `len()` function to find the **len**gth. This will return us the rows.

In [44]:
len(animals)

5752

We can also modify this to return us the number of columns – like so.

In [45]:
len(animals.columns)

19

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Data types

It is also important to check the data types when we bring in data. If you’ve worked with other analytical software before you’ll know that sometimes data doesn’t come in as we would expect.

We do this using `.dtypes`

In [46]:
animals.dtypes

IncidentNumber                 object
DateTimeOfCall                 object
CalYear                         int64
FinYear                        object
TypeOfIncident                 object
PumpCount                     float64
PumpHoursTotal                float64
HourlyNominalCost(£)            int64
IncidentNominalCost(£)        float64
FinalDescription               object
AnimalGroupParent              object
PropertyType                   object
SpecialServiceTypeCategory     object
SpecialServiceType             object
Borough                        object
StnGroundName                  object
AnimalClass                    object
Code                           object
London                         object
dtype: object

We have some of the data types we’re seen before

* **int** represents integers; our whole numbers
	* CalYear (Calendar Year) is column of whole numbers
    
    
* **float** represents ‘floating point’ numbers or decimals
	* IncidentNominalCost(£) (The financial cost of each incident) is a decimal number.


* **object** or **O**  here represents what we’ve been calling *string* data so far - text values
	* AnimalClass (The kind of animal) is a text based value.

We may also see

* **bool** - representing Boolean values; our True and False
* **datetime** - date and time values
* **category** - a special `pandas` datatype for categorical or factor variables.

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Column Names

To call a column, we give the DataFrame name then the name of our column, in quotes, inside square brackets.

In [47]:
animals['AnimalClass'].head()

0    Mammal
1    Mammal
2    Mammal
3    Mammal
4    Mammal
Name: AnimalClass, dtype: object

We can access our columns by using the `.columns` attribute - remember no brackets after attributes.

This will print out our columns as a data type called an `index`.

In [48]:
animals.columns

Index(['IncidentNumber', 'DateTimeOfCall', 'CalYear', 'FinYear',
       'TypeOfIncident', 'PumpCount', 'PumpHoursTotal', 'HourlyNominalCost(£)',
       'IncidentNominalCost(£)', 'FinalDescription', 'AnimalGroupParent',
       'PropertyType', 'SpecialServiceTypeCategory', 'SpecialServiceType',
       'Borough', 'StnGroundName', 'AnimalClass', 'Code', 'London'],
      dtype='object')

In [49]:
animals.columns.tolist()

['IncidentNumber',
 'DateTimeOfCall',
 'CalYear',
 'FinYear',
 'TypeOfIncident',
 'PumpCount',
 'PumpHoursTotal',
 'HourlyNominalCost(£)',
 'IncidentNominalCost(£)',
 'FinalDescription',
 'AnimalGroupParent',
 'PropertyType',
 'SpecialServiceTypeCategory',
 'SpecialServiceType',
 'Borough',
 'StnGroundName',
 'AnimalClass',
 'Code',
 'London']

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Sorting Data

We may want to sort our data, based on specific columns.

To do this we use the method `.sort_values(by="column name")`

In [ ]:
animals_sorted = animals.sort_values(by="IncidentNominalCost(£)")

animals_sorted.head()

There are additional arguments we can set – by default the values are sorted in ascending order, by changing `ascending=False` we can sort in descending order.

In [ ]:
animals_sorted = animals.sort_values(by="IncidentNominalCost(£)", ascending=False)
animals_sorted.head()

We can also sort by more than one column by including a list.

Here we are sorting by `"IncidentNominalCost(£)"`; and then by `"AnimalClass"`. Notice object (text/string) columns are sorted by *alphabetical* order.

In [ ]:
animals_sorted = animals.sort_values(by=["IncidentNominalCost(£)", "AnimalClass"])
animals_sorted.head()

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Selecting Multiple Columns

I can select multiple columns by providing them in a list.

In [ ]:
# Create a list of columns
my_list_of_columns = [ "DateTimeOfCall", "AnimalGroupParent", "IncidentNominalCost(£)"]

# Pass that list to my indexing brackets
animal_small_df = animals[my_list_of_columns]

# Show the first few rows
animal_small_df.head()

We can do this in one step by using two sets of square brackets next to each other. It’s important to realise that they are doing two separate roles. 

Our first set is selecting or indexing from the animals DataFrame and our second set is creating a list of our columns we wish to select.

Note this gives the exact same result as the two step approach above.

In [ ]:
animal_small_df = animals[[ "DateTimeOfCall", "AnimalGroupParent", "IncidentNominalCost(£)"]]
animal_small_df.sample(6)

Note that when we return one column we get a Series object.

When we return more than one column we get a DataFrame.

### Selecting on data type
We can also use the method `.select_dtypes()` if we want to include or exclude specific kinds of data from our dataframe.

In [ ]:
# Select just the object columns
animal_object_cols = animals.select_dtypes(include=["object"])

# Return the top of the animal columns

animal_object_cols.head()

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Filtering

* Single Conditional Filtering
* Multiple Conditional Filtering

We can achieve really simple filtering by passing a range to the DataFrame indexer.

e.g.

In [ ]:
animals[0:5]

In [ ]:
animals[200:250]

### Single Conditional Filtering

We can filter data in a two step process.

1.	First create a `mask` that specifies inclusion or exclusion for each row in the DataFrame.
2.	Apply the mask on to the DataFrame to return the subset of rows that are included.

In [ ]:
cat_dog = pd.DataFrame({"animal": ["Cat", "Cat", "Dog", "Cat"] , 
                        "name": ["Catalie Portman","Pico de Gato", "Chewbarka", "Sir Isacc Mewton"]})

# Print out the DataFrame

cat_dog

I want to filter so I just have ‘Cat’ Rows.

My condition can be written like this:

In [ ]:
mask = cat_dog['animal'] == 'Cat'

* I am assigning my output to the variable `mask` with the single `=` sign
* The column I want to look for values in is `"animal"` from the `catdog` Dataframe - `catdog["animal"]`
* From that column I want to find values that meet my condition – I state this with the double equals `==`
* Finally I am telling Pandas what value I want to find; a string containing “Cat”

If we run the cell we can see the output is a Boolean Series, our True and False values.

In [ ]:
# Run me to see the Series of Boolean values
mask

In [ ]:
just_cats = cat_dog[mask]
just_cats

Our logical comparison statements are:
   
   
| Symbol | Meaning|   
|------------|------------|
| ==       | Is equivalent to|
| !=| Does not equal|
|> |Greater than|
|>=| Greater than or equivalent too|
|< |Less than|
|<= |Less than or equivalent too|



Let’s view one more example – using our animals **DataFrame**  to find `IncidentNominalCost(£)` over £1000.

In [ ]:
# Note here we're using the animals DataFrame

cost_over_1k = animals[animals['IncidentNominalCost(£)'] > 1000]
cost_over_1k.sample(6)

In [ ]:
mask = animals['IncidentNominalCost(£)'] > 1000
mask

Here we have
* Assigned a new name `cost_over_1k` which will hold our output
* Give our DataFrame name, and our indexing or selection brackets:  `animals[]`
* The column I want to look for values in is ”IncidentNominalCost” from the Animals Dataframe `animals[‘IncidentNominalCost(£)’]`
* The condition I want is ` > 1000` , greater than a thousand. As this is a numeric column I can just specify the number.
* Printing out the variable, using `.sample(6)` method to display 6 rows of the new DataFrame.

#### Exercise

Filter the `titanic` DataFrame by `sex` column; return the “female” values.

In [ ]:
# Exercise

Filter the `titanic` DataFrame by `age` column; return the values over 40.

In [ ]:
# Exercise

Filter the `titanic` DataFrame by `fare` column; return the values less than or equal to 30.50 .

In [ ]:
# Exercise

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Multiple Conditional Filtering 

Let’s add in a new column, representing age to the `cat_dog` DataFrame.

In [ ]:
# Let's create a simple DataFrame to look at this in practice
# Again, we don't need to worry about how we do this!

cat_dog = pd.DataFrame({"animal": ["Cat", "Cat", "Dog", "Cat", "Dog"], 
                        "name": ["Catalie Portman","Pico de Gato", "Chewbarka", "Sir Isaac Mewton", "K9"],
                        "age": [3, 5, 1, 7, 11]}, 
                       columns=["name", "animal", "age"])


# Print out the DataFrame

cat_dog

We now have an age column so we can now select all Cats that are older than 4.

Again, in this example we will create a mask so we can see what Boolean values are happening behind the scenes.

In [ ]:
# Create my mask
mask = (cat_dog['animal'] == "Cat") & (cat_dog['age'] > 4)

# have a look at the mask
mask

In [ ]:
cats_over_4 = cat_dog[mask]
cats_over_4

To do this in one line:

In [ ]:
cats_over_4 = cat_dog[(cat_dog["animal"] == "Cat") & (cat_dog["age"] > 4)]
cats_over_4

The OR condition is represented by a vertical bar symbol ( `|` ).

Lets add a condition where the animal is a cat **OR** the age is greater than 4.

In [ ]:
# Create my mask
mask = (cat_dog["animal"] == "Cat") | (cat_dog["age"] > 4)

# View mask

mask

In [ ]:
cats_or_over4 = cat_dog[mask]
cats_or_over4

Or in one line:

In [ ]:
cats_or_over4 = cat_dog[(cat_dog["animal"] == "Cat") | (cat_dog["age"] > 4)]
cats_or_over4

#### Exercise

Filter the animals DataFrame where the IncidentNominalCost(£) Column was less than £400 **and** where the Borough column value is Croydon.

In [ ]:
# Exercise

Filter the animals DataFrame where the 'PropertyType' was "River/canal" **or** the `"PumpHoursTotal"` was greater than 8.

In [ ]:
# Exercise

### Filter short cuts

with `.isin()` we can provide a list of things to filter – here the boat identities `[“2”, “C”, “15”]`

In [ ]:
titanic[titanic["boat"].isin(["2", "C", "15"])].head()

If dealing with numeric values we can use `.between()` and specify an upper and lower bound (inclusive this time).

Here we’re looking where the `age` column was between 0 and 12.

In [ ]:
titanic[titanic["age"].between(0, 12)]

We also have the `~` tilde symbol to invert an expression, this works similarly to the `!=` for does not equal.

For example, I can invert the filter for female passengers to return just male passengers.

Note – I have to wrap my conditional statement in round brackets to ensure this works.

In [ ]:
titanic[~(titanic["sex"] == "female")]  # Inverts the results of == Female; effectively giving == Male

<a id='new_columns'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Deriving New Columns

We create new columns in very similar ways:

`titanic["new_column"] = 1`


In the example above we are creating a new column in the `titanic` DataFrame called `"new_column"`, which will have the constant value of 1 in each row.

* To create a new column we first give the DataFrame name and use square brackets to specify, as a string our column name – here `"new_column"`
    * If the column name does not exist in our Dataframe (like in the example) the contents will be placed in a new column, at the end of the DataFrame.
    * If the column already exists in our DataFrame the contents of that column will be **overwritten**.

In [ ]:
# Let's add new columns

cat_dog["constant_string"] = "mammal"   # adds a string/object constant
cat_dog["constant_float"] = 3.2 # adds a floating point constant
cat_dog["constant_int"] = 2   # adds an interger constant

cat_dog

We can do any form of operations we like here – for example creating the family size of the person. 

This is the number of siblings or spouses on board (`sibsp`), the number of parents or children on board (`parch`), plus 1 (the person themselves).

In [ ]:
titanic["family_size"] = titanic["sibsp"] + titanic["parch"] + 1

titanic.head()

## Deleting columns

There are a few ways to remove or drop columns.

Let's look at cat_dog again

In [ ]:
cat_dog

We have the inbuilt python statement del ; here to delete the column constant_float from cat_dog DataFrame

In [ ]:
del cat_dog["constant_float"]
cat_dog

We can also use the `.drop()` method.

In [ ]:
#cat_dog.drop(columns = ["constant_string", "constant_int"], inplace = True)

# If this cell doesn't work check your version using pd.__version__
cat_dog.drop(labels=["constant_string", "constant_int"], axis=1, inplace=True)

In [ ]:
cat_dog

<a id='merge'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Merging Data

* About Merging
* Merging using Pandas
* Union joins

Let’s have a look at the two `joining_data`  DataFrames.

In `joining_data1` we have the columns `name`, `animal` and `age`.
In `joining_data2` we have the columns `name` and `vaccinated`.

`Arf Vader` only appears in `joining_data1` and `Spiderpig` only appears in `joining_data2`. The remainder of the animals appear in both DataFrames.

In [ ]:
joining_data1

In [ ]:
joining_data2

In [ ]:
left_merge = pd.merge(left = joining_data1,
                      right = joining_data2, 
                                 how = "left",
                                 on = "name",
                                 indicator = True)

left_merge

Hopefully the code is fairly self-explanatory:

* `left =` is our left hand DataFrame
* `right= ` is our right hand DataFrame


* `how= ` is how we want to perform the join – other options are
 * `right`
 * `outer`
 * `inner`  (default behaviour)


* ` on= ` is the name of the column both DataFrames have in common. 
 * If we're joining on more than one column we can specify a list here.
 
 
* ` indicator` set to `True` adds an additional column showing if the data was in the left_only, both or right_only as applicable.

### Union Merge

We can also do what's known as `union` merges, which is implimented using `pd.concat()`.

This is where we can add data on to the bottom of an existing dataFrame.

For example we have some new animals to add on to `joining_data1`, these are contained in the `union_joined` DataFrame.

In [ ]:
union_join_data

In [ ]:
union_joined = pd.concat(objs=[joining_data1, union_join_data], ignore_index=True)
union_joined

Our parameters and arguments in `pd.conact()` are:
* `objs= ` Our objects that we wish to concatenate – here as a list
* `ignore_index= ` My new DataFrame will have it’s “own” index starting from 0. If I set this to `False` then I will have two things with an index of 0 – and I don’t want that!

### Summary 

In this chapter we’ve explored:
* Exploring our Data
* Sorting our Data
* Selecting our Data
* Filtering our Data
* Creating new columns of Data
* Merging Data

<a id='merge'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Exercise 

Look at the dimensions of the `titanic` DataFrame.

Use shape, then try returning the number of columns and rows individually.

Look at the data types of the `titanic` DataFrame.

Print the column names

Sort the `titanic` DataFrame by the `age` column in descending order.

Sort the `titanic` DataFrame by the `age` and `sex` column

Select the `name, sex, age` and `survived` column from the `titanic` DataFrame.

Using `marvel_left` and `marvel_right` perform an outer join using the column `name`