# Summary Statistics & Aggregation

In [ ]:
import pandas as pd

In [ ]:
animals = pd.read_csv("data/animals.csv")
titanic = pd.read_excel("data/titanic.xlsx")

In [ ]:
%whos

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Overall Descriptive Statistics

Pandas has an inbuilt method to get basic descriptive statistics, this is `.describe()`

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic["fare"].describe()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Range

We can also access these summary statistics individually. In most cases the name of the method is the same as the summary statistic.

We can use `.min()` to return the minimum value in a column.

In [ ]:
titanic["fare"].min()

This also works for object (text) columns.

In [ ]:
titanic["name"].min()

In [ ]:
titanic["fare"].max()

In [ ]:
titanic["name"].max()

Something important to note here is that `pandas` effectively assigns a value to each letter. 

This goes A-Z and **then** a-z.

A lower case "a" is treated as coming **after** a capital "Z" in Python.

In [ ]:
titanic["name"].str.lower().max()

We can use `.quantile()` to find information at different points of our data.

Our parameter is `q= ` and then a decimal number.

If we don't specify this the default behaviour is `0.5`.

In [ ]:
titanic["fare"].quantile(q=0.25)

In [ ]:
titanic["fare"].quantile(q=[0, 0.25, 0.5, 0.75, 1])

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Averages

In [ ]:
titanic["fare"].mean()

In [ ]:
titanic["fare"].median()

In [ ]:
titanic["fare"].mode()

In [ ]:
titanic["name"].mode()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Spread

In [ ]:
titanic["fare"].std()

In [ ]:
titanic["fare"].var()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Counting Values

In [ ]:
titanic["embarked"].count()

In [ ]:
titanic["age"].isnull().tail()

In [ ]:
titanic["age"].tail()

### Null value count

In [ ]:
titanic["age"].isnull().sum()

### Value count

In [ ]:
titanic["sex"].value_counts()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Sum

In [ ]:
titanic["fare"].sum()

## Unique values

In [ ]:
titanic["boat"].unique()

In [ ]:
titanic["boat"].nunique()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Summary 

In this chapter weâ€™ve explored:
* Overall descriptive statistics
* Range
* Averages
* Spread
* Counting Values
* Other general summary statistics

## Exercise 

How old is the oldest passenger in the titanic dataframe?

Find the standard deviation of the `age` column

How many passengers were in each class?